#wrapper {
    width:600px;
    margin:auto; /* Centers the div on the page */
    border:1px solid tan;
    padding:25px;
}
body {
    background-image: url('https://practice-pixels.s3.amazonaws.com/texture-paper.jpg');
}
h1 {
    color: #2b021b;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}
h2 {
    color: #5a0539;
    font-family: Arial, sans-serif;
}
p {
    line-height: 1.5;
}
ul, p {
    font-family: 'Baskerville', Georgia, serif;
}
.primary {
    font-weight: bold;
}
img {
    border: 1px solid #2b021b;
}
